BASE_HOSTNAME=ekap.kazatomprom.kz
EKAP_BASE_HOSTNAME=ekap-v2.kazatomprom.kz
EKAP_API_HOSTNAME=prod-api.kazatomprom.kz

# Login & Password in Base64 format
AUTH_USERNAME=
AUTH_PASSWORD=

AUTH_EKAP_USERNAME=
AUTH_EKAP_PASSWORD=

# Arystanbek
#PAGE_EKAP_URL_ISSUE_LIST=/user/modules/3d564428-583e-42dd-998f-5b3425af65c5/sections/a0743392-ea9d-4333-b30b-a67d9a754833/bp/96069139-9cbc-46f1-a342-34adb1d578eb?page=0
#PAGE_EKAP_URL_ISSUE_FORM_CREATE=/user/modules/3d564428-583e-42dd-998f-5b3425af65c5/sections/a0743392-ea9d-4333-b30b-a67d9a754833/bp/96069139-9cbc-46f1-a342-34adb1d578eb/new
#PROJECT_ID=kap_dkf_pokazateli

# Miras integration
PAGE_EKAP_URL_ISSUE_LIST=/user/modules/20dcb0bf-9e0d-4d8d-86da-d1b2473f43a1/sections/05998c16-3e61-417c-a2cb-04686b45cf54/bp/a9e06b2a-d2c9-49a9-bcf2-7b6980b5b2da?page=0
PAGE_EKAP_URL_ISSUE_FORM_CREATE=/user/modules/20dcb0bf-9e0d-4d8d-86da-d1b2473f43a1/sections/05998c16-3e61-417c-a2cb-04686b45cf54/bp/a9e06b2a-d2c9-49a9-bcf2-7b6980b5b2da/new
PROJECT_ID=zarechnoe_riskmanagement
QUERY_ID=1047
